html {
    background-color: #a0d2eb;
    font-family: Roboto;
}

h1 {
    margin-top: 150px;
    margin-left: 100px;
}

img {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 20px;
    right: 20px;
  }