<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Nelson Slang History</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <h1><b>Search History</b></h1>
    </body>

    <table border="1">
        <thead>
          <th><strong>Word/Phrase</strong></th>
          <th><strong>Definition</strong></th>
        </thead>
    
        <tbody>
          <% phrases.forEach( phrase => { %>
            <tr>
              <td><%= phrase.phrase %></td>
              <td><%= phrase.definition %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    
      <hr><a href="/">HOME</a>

</html>