<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Nelson Slang 101</title>
        <link rel="icon" href="nelson.jpg">
        <link rel="shortcut icon" href="nelson.jpg" type="images/png">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    </head>
   

    <body>
        <h1><b>Nelson Slang 101 Dictionary (¬‿¬ )</b></h1>
        <img src="nelson.jpg" alt="papanelson">

        <form action="/result" method="POST">
            <label for = "searchbar">Log a Nelson Word/Phrase:</label>
            <br>
            <input type="text" name="phrase" id="phrase"> 
            <br>
            <br>
            <label for = "searchbar">Create the definition:</label>
            <br>
            <textarea name="definition" id="definition" rows="5" cols="30"></textarea>
            <br>
            <input type="submit" value="Submit">
        </form>
        To see past words/phrases <a href="/history">History</a><br>
        To clear log <a href="/remove">Remove all logs</a>
    </body>





</html>

