<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Nelson Slang Meaning</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <h1><b>Definitions</b></h1>

        <h1><strong>Word/Phrase Logged</strong></h1>

        <div class="container">
          <div class="row"> 
            <strong>Word/Phrase: </strong> <%= phrase %><br>
            <strong>Definition: </strong> <%= definition %>
          </div>
        </div>

    <a href="/">HOME</a>
    </body>

</html>